body {
	font-family: "Teko", sans-serif;
}
body {
	background-color: #bababa;
	/* background: url(https://oir.mobi/uploads/posts/2021-03/1616425521_5-p-geometricheskii-fon-6.jpg) no-repeat center center;
	background-size: cover; */
	
}

.navbar {
    background-color: transparent !important;
}
.navbar-brand {
    font-size: 40px;
}
#admin-panel {
    margin-top: 50px;
}
#addStudent-modal {
	background-color: transparent;
	color: white;
	padding: 10px;
	font-size: 2.0em;
}
#addStudent-modal:hover {
	color: #000000;
	border: 1px solid #000000;
	border-color: #000000;
    border-radius: 5px;
}


.card {
background-color: #666767;
border: 1px solid #767474;
color: white;
}
        


.modal-header {
    background-color: #666767; 
}

.modal-body {
    background-color: #666767; 
}

.form-control {
    font-size: 27px;
}
